In [1]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [15]:
nationality_count = small_df['Nationality'].value_counts()
display(nationality_count)
display(nationality_count.index) # Все индексы
display(nationality_count['Belgium'])
display(len(nationality_count))

England      1368
Germany       919
Spain         671
France        614
Argentina     574
             ...
Lebanon         1
Mauritius       1
Grenada         1
Ethiopia        1
Andorra         1
Name: Nationality, Length: 156, dtype: int64

Index(['England', 'Germany', 'Spain', 'France', 'Argentina', 'Italy',
       'Colombia', 'Japan', 'Brazil', 'China PR',
       ...
       'Central African Rep.', 'Libya', 'Palestine', 'Oman', 'South Sudan',
       'Lebanon', 'Mauritius', 'Grenada', 'Ethiopia', 'Andorra'],
      dtype='object', length=156)

164

156

In [13]:
nationality_count.loc[nationality_count > 1] # Только те нации которых больше 1-го

Spain        4
Germany      3
Argentina    3
Belgium      3
Uruguay      3
France       2
Name: Nationality, dtype: int64

In [19]:
club_count = small_df['Club'].value_counts()
club_count

Shonan Bellmare      30
V-Varen Nagasaki     30
De Graafschap        29
FC Emmen             29
Padova               29
                     ..
Cruzeiro              8
Vitória Guimarães     7
Dinamo Zagreb         7
GD Chaves             7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [25]:
nat = small_df['Nationality'].value_counts(normalize=True) # Процент каждой нации от общего числа наций
display(nat)

Spain        0.16
Germany      0.12
Argentina    0.12
Belgium      0.12
Uruguay      0.12
France       0.08
Slovenia     0.04
Italy        0.04
Brazil       0.04
England      0.04
Poland       0.04
Croatia      0.04
Portugal     0.04
Name: Nationality, dtype: float64

In [30]:
df = pd.read_csv('data_sf.xls')
small_df = df[df.columns[1:8]]
position = small_df['Position'].value_counts(normalize=True) # Процент каждой позиции от общего числа позиций
display(position[0:10])

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
Name: Position, dtype: float64

In [46]:
salary = small_df['Wage'].value_counts(bins=4) #Группировка в 4 группы всех данных о зарплате футболистов
display(salary)
small_df.loc[(small_df['Wage'] > salary.index[3].left) & (small_df['Wage'] <= salary.index[3].right)]

(435.999, 142000.0]     12818
(142000.0, 283000.0]       61
(283000.0, 424000.0]       16
(424000.0, 565000.0]        2
Name: Wage, dtype: int64

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [68]:
df = pd.read_csv('data_sf.xls')
small_df = df
accuracy = small_df['FKAccuracy'].value_counts(bins=5) #Показатели точности футболистов в 5 групп
display(accuracy)
print('Список уникальных значений - \033[1m{}\033[0m, etc...\n'
      .format(small_df['Nationality'].unique()[0:5]))

print('Количество уникальных значений без len() - \033[1m{}\033[0m\n'
      .format(small_df['Nationality'].nunique()))

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

Список уникальных значений - ['Argentina' 'Portugal' 'Brazil' 'Spain' 'Belgium'], etc...

Количество уникальных значений без len() - 156

In [74]:
df = pd.read_csv('data_sf.xls')
small_df = df

nationality = small_df['Nationality'].value_counts()
new_nationality = nationality.reset_index() # Обнуляем индексы в извлеченной таблице
new_nationality.columns = ['Nationality','Players Count'] # Задаем названия столбцов
display(new_nationality)

    Nationality  Players Count
0       England           1368
1       Germany            919
2         Spain            671
3        France            614
4     Argentina            574
..          ...            ...
151     Lebanon              1
152   Mauritius              1
153     Grenada              1
154    Ethiopia              1
155     Andorra              1

[156 rows x 2 columns]

In [154]:
df = pd.read_csv('data_sf.xls')

spains = df.loc[df['Nationality'] == 'Spain'].Wage.value_counts(bins=4,normalize=True) 
# Собираем отдельно Испанцев и сразу же разделяем их на 4 группы по зарплатам и указываем количество в %
print('Группы по 25% с зарплатами, и количество Испанцев в процентах -\n \033[1m{}\033[0m\n'
      .format(spains))

manchester = df.loc[df['Club'] == 'Manchester United'].Nationality.nunique()
print('Количество уникальных сборных (Nationality) из футболистов Manchester United - \033[1m{}\033[0m\n'
      .format(manchester))

juventus_brazil = df.loc[(df.Club == 'Juventus') & (df.Nationality == 'Brazil')].Name.unique()
print('Футболисты из бразилии играющие за Ювентус - \033[1m{}\033[0m\n'
      .format(juventus_brazil))

oldest_wage_club = df.loc[df.Age > 35].Club.value_counts()
print('Клуб (Club) который, насчитывает большее количество футболистов возрастом (Age) старше 35 лет - \033[1m{}\033[0m\n'
      .format(oldest_wage_club.index.values[0]))

argentina_age_group = df.loc[df.Nationality == 'Argentina'].Age.value_counts(bins=4)
print('Футболисты сборной Аргентины в 4х группах по возрасту -\n \033[1m{}\033[0m\n'
      .format(argentina_age_group))

young_age = df.loc[df.Nationality == 'Spain'].Age.value_counts(normalize=True)
young_age_rounded = young_age.replace(young_age.values, young_age.values*100).round(decimals=2)[0:5]

print('Проценты фубтолистов из Испании по возрастам -\n \033[1m{}\033[0m\n'
      .format(young_age_rounded))

Группы по 25% с зарплатами, и количество Испанцев в процентах -
 (620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

Количество уникальных сборных (Nationality) из футболистов Manchester United - 13

Футболисты из бразилии играющие за Ювентус - ['Alex Sandro' 'Douglas Costa']

Клуб (Club) который, насчитывает большее количество футболистов возрастом (Age) старше 35 лет - Club Atlético Huracán

Футболисты сборной Аргентины в 4х группах по возрасту -
 (22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

Проценты фубтолистов из Испании по возрастам -
 21    11.77
22     9.54
20     7.75
23     7.15
25     6.41
Name: Age, dtype: float64

In [167]:
df = pd.read_csv('data_sf.xls')

grouped_df = df.groupby(['Club']).sum()
display(grouped_df)
display(grouped_df.loc['Ajax']['Wage'])
grouped_df = df.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
print(grouped_df.head(5))
grouped_df = df.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
print(grouped_df.head(10))

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,129124,609,15195000,90000,1104,944,1283,1362,944,1196,...,1042,1332,1205,1146,1088,405,406,368,409,424
1. FC Heidenheim 1846,117834,473,18290000,76000,961,860,955,1136,846,1040,...,923,1093,888,952,890,335,317,287,335,306
1. FC Kaiserslautern,167351,544,11195000,33000,1106,918,1133,1272,899,1131,...,1030,1174,938,989,996,392,373,348,368,356
1. FC Köln,54865,225,46810000,92000,444,357,434,567,320,486,...,431,515,453,458,452,272,251,276,252,268
1. FC Magdeburg,116731,515,57525000,84000,948,903,1044,1157,769,1024,...,938,1057,933,930,892,367,373,354,361,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,220803,656,6815000,27000,1161,1007,1152,1357,979,1252,...,1113,1371,1219,1187,1156,427,391,417,391,413
Çaykur Rizespor,119137,557,27515000,118000,1110,921,1137,1290,888,1233,...,1063,1200,1050,1155,1143,375,394,387,388,389
Örebro SK,224465,622,8465000,36000,1114,974,1149,1311,965,1270,...,1066,1393,1112,1045,1008,412,406,386,428,407
Östersunds FK,136103,478,11030000,39000,944,805,856,1109,801,1066,...,847,1132,920,842,816,342,357,369,337,363
Śląsk Wrocław,172358,628,9170000,50000,1058,1054,1289,1313,988,1238,...,1150,1314,1047,1161,1129,408,403,367,394,403

158000

Club
Real Madrid          4138000
FC Barcelona         3967000
Manchester City      3097000
Manchester United    2357000
Juventus             2335000
Name: Wage, dtype: int64
Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
Name: Wage, dtype: int64

In [171]:
# Сортируем список по национальностям с средними значениями 'Wage','Age','ShotPower' по Зарплате 'Wage' в порядке убывания
display(df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10))
# Смотрим кто входит в Dominican Republic с выборочними столбцами
display(df.loc[df['Nationality'] == 'Dominican Republic'][['Name','Club','Wage','Age','ShotPower']])

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
Belgium             20024.390244  24.030488  56.390244
Ecuador             18333.333333  24.619048  60.666667
Uruguay             17590.361446  26.771084  56.192771
Brazil              17371.158392  27.898345  58.203310
Algeria             15810.810811  27.027027  56.567568

            Name         Club    Wage  Age  ShotPower
291      Mariano  Real Madrid  140000   24         85
6279  L. Quezada   Córdoba CF    2000   22         66

In [2]:
df = pd.read_csv('data_sf.xls')
df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False).head(10).round(2)

               Wage        Value
Position
LF         75125.00  27362500.00
RF        119000.00  26365833.33
LAM        61000.00  13245833.33
RAM        11800.00   8345000.00
LS         15421.49   5848429.75
LCM        13497.85   4318090.13
RCM        13504.17   4217604.17
RS         13482.46   3645833.33
LW         12169.42   3603099.17
RW         13822.78   3495738.40

In [26]:
# Средняя (mean) и медианная (median) зарплат (Wage),которые совпадают, футболистов из разных клубов (Club)
temp = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
display(temp.loc[temp['mean'] == temp['median']].sort_values(['mean'],ascending=False).reset_index()[0:10])

                Club     mean  median
0           Cruzeiro  13000.0   13000
1         Göztepe SK   7000.0    7000
2         Brøndby IF   6000.0    6000
3         Sunderland   4000.0    4000
4        CD Feirense   4000.0    4000
5    1. FC Magdeburg   4000.0    4000
6   Northampton Town   2500.0    2500
7  Stade Brestois 29   2000.0    2000
8    Jeonnam Dragons   2000.0    2000
9    Pohang Steelers   2000.0    2000

2035000

In [58]:
tmp_chelsea = df.groupby(['Club'])['Wage'].sum()
print('Сумма зарплат (Wage) футболистов клуба (Club) "Chelsea" - \033[1m{}\033[0m\n'
      .format(tmp_chelsea['Chelsea']))

max_wage_20 = df.loc[(df['Age'] == 20) & (df['Nationality'] == 'Argentina')]['Wage'].max()
print('Максимальная зарплата футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет - \033[1m{}\033[0m\n'
      .format(max_wage_20))

max_wage_30 = df.loc[(df['Age'] == 30) & (df['Nationality'] == 'Argentina')]['Wage'].max()
print('Максимальная зарплата футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет - \033[1m{}\033[0m\n'
      .format(max_wage_30))

min_wage_30 = df.loc[(df['Age'] == 30) & (df['Nationality'] == 'Argentina')]['Wage'].min()
print('Максимальная зарплата футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет - \033[1m{}\033[0m\n'
      .format(min_wage_30))

str_bal = df.loc[(df['Club'] == 'FC Barcelona') & (df['Nationality'] == 'Argentina')][['Strength','Balance']].max()
print('Максимальная сила (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina") -\n\033[1m{}\033[0m\n'
      .format(str_bal))

Сумма зарплат (Wage) футболистов клуба (Club) "Chelsea" - 2035000

Максимальная зарплата футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет - 54000

Максимальная зарплата футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет - 300000

Максимальная зарплата футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет - 1000

Максимальная сила (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina") -
Strength    59
Balance     95
dtype: int64

In [7]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum', # aggfunc Добавляеи функцию к параметрам
margins=True, # Margings Значение "Всего" по краям
fill_value=0) # Заменяет все NaN в таблице на 0
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [15]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)
pivot.loc['Argentina']['Name']['Real Madrid']

                           Name
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                     1        1                 2           0
Belgium                       1        0                 1           1
Bosnia Herzegovina            0        1                 0           0
Brazil                        2        2                 1           2
Chile                         1        0                 1           0
Costa Rica                    0        0                 0           1
Croatia                       1        1                 0           1
Dominican Republic            0        0                 0           1
Ecuador                       0        0                 1           0
England                       0        0                 6           0
France                        3        1                 2           3
Germany                       1        1                 0           1
Italy                         0        4                 1           0
Ivory Coast                   0        0                 1           0
Morocco                       0        1                 0           0
Netherlands                   1        0                 0           0
Poland                        0        1                 0           0
Portugal                      1        1                 0           0
Scotland                      0        0                 1           0
Serbia                        0        0                 1           0
Spain                         9        0                 1          11
Uruguay                       1        0                 0           0
Wales                         0        0                 1           1

0

In [55]:
pivot = df.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value = 0)
display(pivot)

print('Среднее количество вратарей (GK) - \033[1m{}\033[0m\n'
      .format(round(pivot.Name.GK.mean(),3)))

                      Name                                 ...                 \
Position               CAM CB CDM CF CM GK LAM LB LCB LCM  ... RB RCB RCM RDM
Club                                                       ...
 SSV Jahn Regensburg     0  5   1  0  2  3   0  2   0   0  ...  2   1   0   1
1. FC Heidenheim 1846    1  3   0  0  1  2   0  2   1   0  ...  2   1   0   0
1. FC Kaiserslautern     0  3   3  0  0  3   0  2   1   0  ...  2   0   0   1
1. FC Köln               0  1   1  0  2  3   0  0   0   0  ...  1   0   0   0
1. FC Magdeburg          0  4   0  1  0  3   0  1   1   1  ...  0   1   1   0
...                    ... ..  .. .. .. ..  .. ..  ..  ..  ... ..  ..  ..  ..
Zagłębie Sosnowiec       3  2   2  0  0  3   0  3   1   0  ...  1   1   0   1
Çaykur Rizespor          1  2   5  0  0  3   0  2   1   0  ...  3   0   0   1
Örebro SK                0  4   0  0  1  3   0  0   1   1  ...  0   1   1   0
Östersunds FK            1  1   0  1  3  3   0  2   1   1  ...  1   1   0   0
Śląsk Wrocław            0  1   3  0  1  3   0  2   1   0  ...  2   1   0   1


Position              RF RM RS RW RWB ST
Club
 SSV Jahn Regensburg   0  0  0  0   0  3
1. FC Heidenheim 1846  0  3  0  0   0  2
1. FC Kaiserslautern   0  2  1  0   0  1
1. FC Köln             0  1  0  0   0  0
1. FC Magdeburg        0  3  1  2   0  1
...                   .. .. .. ..  .. ..
Zagłębie Sosnowiec     0  2  0  0   0  1
Çaykur Rizespor        0  1  0  0   0  1
Örebro SK              0  0  0  2   2  5
Östersunds FK          0  1  0  1   0  1
Śląsk Wrocław          0  2  1  0   0  2

[650 rows x 27 columns]

Среднее количество вратарей (GK) - 2.525

In [61]:
print('Клубы, которые, не содержат данных о центральных полузащитниках (CM) -\n \033[1m{}\033[0m\n'
      .format(pivot.loc[pivot.Name.CM == 0].Name.CM.value_counts()))

Клубы, которые, не содержат данных о центральных полузащитниках (CM) -
 0    136
Name: CM, dtype: int64

In [75]:
pivot = df.loc[df['Club'].isin(['AS Monaco'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
fill_value = 0)
print('Сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco" -\n \033[1m{}\033[0m\n'
      .format(pivot))

Сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco" -
                  Wage
Club        AS Monaco
Nationality
Belgium         47000
Brazil          55000
Colombia       115000
Croatia         70000
France          95000
Italy           48000
Montenegro      79000
Morocco         39000
Poland          86000
Portugal        65000
Russia          61000
Senegal         10000

In [137]:
pivot = df.pivot_table(values=['SprintSpeed'],
index=['Position'],
columns=['Club'],
aggfunc='mean',
margins=True,
fill_value = 0)
pivot.sort_values(by=('SprintSpeed','All'),ascending=False)

                  SprintSpeed                                             \
Club      SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Position
LAM                  0.000000              0.000000             0.000000
RF                   0.000000              0.000000             0.000000
LF                   0.000000              0.000000             0.000000
RW                   0.000000              0.000000             0.000000
RM                   0.000000             78.333333            82.500000
LW                   0.000000              0.000000            80.000000
LM                  76.000000             69.500000            70.500000
RAM                 78.000000              0.000000             0.000000
RWB                  0.000000              0.000000             0.000000
LWB                  0.000000              0.000000             0.000000
LS                   0.000000              0.000000            85.000000
RS                   0.000000              0.000000            69.000000
RB                  68.500000             80.500000            71.500000
LB                  76.000000             60.000000            68.000000
CF                   0.000000              0.000000             0.000000
ST                  61.666667             69.000000            79.000000
CAM                  0.000000             68.000000             0.000000
LCM                  0.000000              0.000000             0.000000
RCM                  0.000000              0.000000             0.000000
CM                  61.000000             68.000000             0.000000
All                 59.041667             65.450000            65.217391
RDM                 65.000000              0.000000            55.000000
LDM                 55.000000              0.000000             0.000000
CDM                 82.000000              0.000000            65.666667
LCB                  0.000000             55.000000            45.000000
RCB                 57.000000             59.000000             0.000000
CB                  46.600000             61.333333            59.000000
GK                  33.000000             41.000000            42.666667

                                                                       \
Club     1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Position
LAM             0.0        0.000000       0.000000           0.000000
RF              0.0        0.000000       0.000000           0.000000
LF              0.0        0.000000       0.000000           0.000000
RW              0.0       80.500000       0.000000           0.000000
RM             77.0       76.000000      83.000000           0.000000
LW              0.0        0.000000       0.000000           0.000000
LM              0.0        0.000000       0.000000           0.000000
RAM             0.0        0.000000       0.000000           0.000000
RWB             0.0        0.000000       0.000000           0.000000
LWB            77.0        0.000000       0.000000           0.000000
LS              0.0       86.000000       0.000000           0.000000
RS              0.0       53.000000       0.000000           0.000000
RB             70.0        0.000000      75.000000          86.000000
LB              0.0       69.000000      65.000000          70.500000
CF              0.0       64.000000       0.000000           0.000000
ST              0.0       44.000000      65.666667           0.000000
CAM             0.0        0.000000      66.000000          61.000000
LCM             0.0       66.000000       0.000000           0.000000
RCM             0.0       71.000000       0.000000           0.000000
CM             68.5        0.000000      53.000000          72.000000
All            55.2       63.238095      64.230769          63.272727
RDM             0.0        0.000000       0.000000           0.000000
LDM             0.0        0.000000       0.000000           0.000000
CDM            32.0        0.000000      59.000000          66.500000
LCB             0.0       60.000000       0.000000          53.000000
RCB             0.0       68.000000       0.000000           0.000000
CB             60.0       60.000000      55.000000          59.000000
GK             33.0       39.333333      40.000000          32.000000

                                                ...                   \
Club     1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Yeni Malatyaspor
Position                                        ...
LAM             0.000000   0.000000   0.000000  ...         0.000000
RF              0.000000   0.000000   0.000000  ...         0.000000
LF              0.000000   0.000000   0.000000  ...         0.000000
RW              0.000000   0.000000   0.000000  ...         0.000000
RM              0.000000  71.000000  61.000000  ...        87.000000
LW             74.000000   0.000000   0.000000  ...         0.000000
LM              0.000000  72.000000  70.500000  ...        70.000000
RAM             0.000000   0.000000   0.000000  ...         0.000000
RWB             0.000000   0.000000   0.000000  ...         0.000000
LWB             0.000000   0.000000   0.000000  ...         0.000000
LS              0.000000   0.000000  77.000000  ...         0.000000
RS             86.000000   0.000000  81.000000  ...         0.000000
RB             79.000000  67.000000  78.000000  ...        70.500000
LB             69.000000  67.666667  66.000000  ...        75.000000
CF              0.000000   0.000000   0.000000  ...         0.000000
ST             69.000000  66.000000  52.500000  ...        57.500000
CAM             0.000000  71.333333   0.000000  ...        71.500000
LCM            64.000000   0.000000  76.000000  ...         0.000000
RCM             0.000000   0.000000  63.000000  ...         0.000000
CM             69.000000  77.000000  62.500000  ...        64.000000
All            69.727273  65.526316  59.960000  ...        61.363636
RDM             0.000000  60.000000   0.000000  ...         0.000000
LDM             0.000000  64.000000   0.000000  ...        67.000000
CDM             0.000000   0.000000  56.000000  ...        65.666667
LCB             0.000000  52.000000  57.000000  ...         0.000000
RCB             0.000000  75.000000  57.000000  ...         0.000000
CB             71.500000  46.000000  53.333333  ...        62.000000
GK             40.000000  46.000000  34.333333  ...        33.250000

                                                                            \
Club     Yeovil Town Yokohama F. Marinos Zagłębie Lubin Zagłębie Sosnowiec
Position
LAM         0.000000            0.000000       0.000000           0.000000
RF          0.000000            0.000000       0.000000           0.000000
LF          0.000000            0.000000       0.000000           0.000000
RW          0.000000           65.000000       0.000000           0.000000
RM         78.200000           61.000000      75.000000          71.000000
LW          0.000000           77.000000       0.000000           0.000000
LM         83.500000           70.000000      66.000000          74.250000
RAM         0.000000            0.000000       0.000000           0.000000
RWB         0.000000            0.000000       0.000000           0.000000
LWB         0.000000            0.000000       0.000000           0.000000
LS         81.000000            0.000000       0.000000           0.000000
RS         77.000000            0.000000       0.000000           0.000000
RB         69.500000           68.500000      69.500000          68.000000
LB         57.000000           70.000000      72.000000          60.333333
CF          0.000000            0.000000       0.000000           0.000000
ST         74.750000           68.666667      65.250000          75.000000
CAM         0.000000           70.333333       0.000000          73.000000
LCM        70.000000           72.000000       0.000000           0.000000
RCM        76.000000           72.000000       0.000000           0.000000
CM         67.000000           67.000000      55.000000           0.000000
All        66.321429           58.538462      62.280000          63.160000
RDM         0.000000            0.000000      61.000000          62.000000
LDM         0.000000            0.000000      70.000000          74.000000
CDM         0.000000           61.000000      54.000000          66.000000
LCB        44.000000            0.000000      33.000000          61.000000
RCB        59.000000            0.000000      50.000000          58.000000
CB         54.000000           45.250000       0.000000          46.500000
GK         37.000000           27.750000      44.666667          39.000000


Club     Çaykur Rizespor  Örebro SK Östersunds FK Śląsk Wrocław        All
Position
LAM             0.000000   0.000000      0.000000      0.000000  76.333333
RF              0.000000   0.000000      0.000000      0.000000  76.333333
LF              0.000000   0.000000      0.000000      0.000000  75.875000
RW              0.000000  77.500000     67.000000      0.000000  75.417722
RM             85.000000   0.000000     85.000000     68.000000  74.943864
LW              0.000000  68.333333      0.000000      0.000000  74.747934
LM             58.000000   0.000000     73.500000     72.000000  74.211538
RAM             0.000000   0.000000      0.000000      0.000000  73.800000
RWB             0.000000  72.000000      0.000000      0.000000  73.128571
LWB             0.000000  68.000000      0.000000      0.000000  72.833333
LS              0.000000   0.000000      0.000000     55.000000  72.338843
RS              0.000000   0.000000      0.000000     81.000000  71.991228
RB             68.666667   0.000000     54.000000     50.500000  71.186709
LB             75.500000   0.000000     74.500000     78.500000  70.718563
CF              0.000000   0.000000     77.000000      0.000000  69.803922
ST             48.000000  72.200000     52.000000     54.000000  68.700397
CAM            74.000000   0.000000     67.000000      0.000000  68.236967
LCM             0.000000  44.000000     62.000000      0.000000  65.334764
RCM             0.000000  66.000000      0.000000      0.000000  65.233333
CM              0.000000  63.000000     56.333333     72.000000  64.299906
All            61.318182  63.000000     61.450000     60.583333  63.205629
RDM            32.000000   0.000000      0.000000     69.000000  62.152174
LDM            61.000000   0.000000      0.000000     60.000000  62.006757
CDM            62.800000   0.000000      0.000000     66.666667  60.813314
LCB            63.000000  58.000000     53.000000     59.000000  58.936430
RCB             0.000000  62.000000     73.000000     58.000000  58.239234
CB             58.000000  60.750000     76.000000     62.000000  57.734854
GK             47.000000  33.666667     32.666667     30.666667  37.622182

[28 rows x 651 columns]

In [152]:
pivot = df.pivot_table(values=['SprintSpeed'],
index=['Position'],
columns=['Club'],
aggfunc='mean',
margins=True,
fill_value = 0)
pivot.sort_values(['ST'],axis=1,ascending=False) # Axis = 1 Сортировка по индексам а не по столбцам

         SprintSpeed                                                  \
Club         Vitória  Sydney FC    CD Lugo Brøndby IF Leicester City
Position
CAM        70.666667  79.500000  72.000000  74.000000      74.000000
CB         56.000000  59.000000  48.500000  68.000000      57.000000
CDM        64.000000   0.000000  50.000000  65.000000       0.000000
CF          0.000000   0.000000   0.000000   0.000000       0.000000
CM          0.000000  64.500000  56.000000  65.500000      57.000000
GK         42.500000  44.666667  44.500000  38.000000      60.000000
LAM         0.000000   0.000000   0.000000   0.000000       0.000000
LB         68.000000  74.000000  72.500000  69.000000      75.000000
LCB        61.000000  31.000000  71.000000   0.000000       0.000000
LCM         0.000000  62.000000   0.000000   0.000000       0.000000
LDM         0.000000   0.000000   0.000000   0.000000      73.000000
LF          0.000000   0.000000   0.000000   0.000000       0.000000
LM          0.000000  71.000000   0.000000   0.000000      87.000000
LS          0.000000  68.000000   0.000000  73.000000       0.000000
LW          0.000000   0.000000   0.000000   0.000000       0.000000
LWB         0.000000   0.000000   0.000000   0.000000       0.000000
RAM         0.000000   0.000000   0.000000   0.000000       0.000000
RB         75.000000  64.333333  72.333333  78.000000      80.500000
RCB         0.000000  47.000000   0.000000   0.000000      30.000000
RCM         0.000000   0.000000   0.000000   0.000000       0.000000
RDM        72.000000   0.000000   0.000000   0.000000       0.000000
RF          0.000000   0.000000   0.000000   0.000000       0.000000
RM          0.000000  67.000000  65.000000   0.000000      71.666667
RS          0.000000  71.000000  68.000000   0.000000       0.000000
RW          0.000000  74.000000   0.000000   0.000000       0.000000
RWB         0.000000   0.000000   0.000000   0.000000       0.000000
ST         91.000000  88.000000  87.000000  84.666667      84.500000
All        65.333333  63.681818  61.736842  66.941176      68.941176

                                                                             \
Club     Manchester United  Feyenoord  FC Zürich FC Bayern München KRC Genk
Position
CAM                    0.0   0.000000   0.000000         68.500000     57.0
CB                    69.2  71.500000  59.333333         68.666667     68.0
CDM                   59.0   0.000000  73.000000         53.000000     60.0
CF                     0.0   0.000000   0.000000          0.000000      0.0
CM                    64.5  67.000000  65.600000         70.600000      0.0
GK                    51.0  33.500000  43.000000         37.500000     46.5
LAM                    0.0   0.000000   0.000000         67.000000      0.0
LB                    72.5  77.500000  75.000000         72.000000      0.0
LCB                    0.0   0.000000  59.000000         64.000000     79.0
LCM                    0.0   0.000000  74.000000          0.000000      0.0
LDM                    0.0   0.000000   0.000000          0.000000      0.0
LF                     0.0   0.000000   0.000000          0.000000      0.0
LM                     0.0   0.000000  82.000000         81.000000     76.0
LS                     0.0   0.000000   0.000000          0.000000      0.0
LW                    91.0  74.000000  77.000000          0.000000      0.0
LWB                    0.0   0.000000   0.000000          0.000000      0.0
RAM                    0.0   0.000000   0.000000          0.000000      0.0
RB                     0.0  80.000000   0.000000          0.000000     89.0
RCB                   74.0   0.000000  44.000000         72.000000      0.0
RCM                    0.0   0.000000   0.000000         68.000000      0.0
RDM                   79.0   0.000000   0.000000          0.000000      0.0
RF                     0.0   0.000000   0.000000          0.000000      0.0
RM                    85.0   0.000000  84.000000          0.000000      0.0
RS                     0.0   0.000000   0.000000          0.000000      0.0
RW                    79.0  75.000000   0.000000          0.000000      0.0
RWB                    0.0   0.000000   0.000000          0.000000      0.0
ST                    84.0  84.000000  84.000000         84.000000     84.0
All                   72.4  67.615385  65.285714         66.346154     66.6

          ...                                               \
Club      ...   Malmö FF Stade Rennais FC Lokomotiv Moscow
Position  ...
CAM       ...  73.000000        65.000000        75.500000
CB        ...  65.000000        53.000000        69.000000
CDM       ...  72.000000         0.000000        67.000000
CF        ...   0.000000         0.000000         0.000000
CM        ...  65.500000        54.000000        61.000000
GK        ...  38.000000        40.000000        39.666667
LAM       ...   0.000000         0.000000         0.000000
LB        ...   0.000000        73.666667         0.000000
LCB       ...  72.000000        67.000000         0.000000
LCM       ...   0.000000         0.000000         0.000000
LDM       ...   0.000000        58.000000         0.000000
LF        ...   0.000000         0.000000         0.000000
LM        ...  65.500000         0.000000        67.500000
LS        ...   0.000000         0.000000         0.000000
LW        ...   0.000000         0.000000         0.000000
LWB       ...   0.000000         0.000000         0.000000
RAM       ...   0.000000         0.000000         0.000000
RB        ...  87.000000        55.000000        71.000000
RCB       ...   0.000000         0.000000        52.000000
RCM       ...  73.000000         0.000000         0.000000
RDM       ...   0.000000        73.000000         0.000000
RF        ...   0.000000         0.000000         0.000000
RM        ...   0.000000         0.000000         0.000000
RS        ...   0.000000         0.000000         0.000000
RW        ...   0.000000         0.000000         0.000000
RWB       ...  75.000000         0.000000         0.000000
ST        ...   0.000000         0.000000         0.000000
All       ...  63.785714        60.846154        61.230769

                                                                         \
Club     Sporting de Charleroi BB Erzurumspor  BK Häcken Spartak Moscow
Position
CAM                   0.000000      52.000000   0.000000      68.000000
CB                   49.000000      56.500000  52.166667       0.000000
CDM                  59.000000       0.000000   0.000000      76.000000
CF                    0.000000       0.000000   0.000000       0.000000
CM                    0.000000      66.000000  63.500000      64.000000
GK                   33.400000      36.333333  32.000000       0.000000
LAM                   0.000000       0.000000   0.000000       0.000000
LB                   65.000000      56.500000  68.333333      80.000000
LCB                  61.000000      34.000000   0.000000      64.000000
LCM                   0.000000       0.000000  52.000000       0.000000
LDM                   0.000000      62.000000   0.000000      78.000000
LF                    0.000000       0.000000   0.000000       0.000000
LM                    0.000000      64.500000   0.000000      76.333333
LS                    0.000000       0.000000   0.000000       0.000000
LW                   79.000000       0.000000  74.500000      74.000000
LWB                   0.000000       0.000000   0.000000       0.000000
RAM                   0.000000       0.000000   0.000000       0.000000
RB                   71.000000      71.500000  78.000000      71.000000
RCB                   0.000000      47.000000  32.000000       0.000000
RCM                   0.000000       0.000000  54.000000       0.000000
RDM                   0.000000      60.000000   0.000000       0.000000
RF                    0.000000       0.000000   0.000000       0.000000
RM                   75.500000       0.000000   0.000000      73.000000
RS                    0.000000       0.000000   0.000000       0.000000
RW                    0.000000       0.000000  71.000000       0.000000
RWB                   0.000000       0.000000   0.000000       0.000000
ST                    0.000000       0.000000   0.000000       0.000000
All                  53.333333      54.588235  57.291667      73.083333


Club     BSC Young Boys Benevento FC Barcelona
Position
CAM            0.000000     62.00    55.000000
CB            62.333333     55.00    64.750000
CDM            0.000000     54.00    52.000000
CF             0.000000      0.00     0.000000
CM            64.000000     59.50    76.000000
GK            44.500000     37.00    44.250000
LAM            0.000000      0.00     0.000000
LB            76.500000     73.00    93.000000
LCB           49.000000      0.00    73.000000
LCM           65.000000      0.00    70.000000
LDM            0.000000      0.00     0.000000
LF             0.000000      0.00     0.000000
LM            60.000000      0.00     0.000000
LS             0.000000      0.00     0.000000
LW             0.000000      0.00    75.000000
LWB            0.000000      0.00     0.000000
RAM            0.000000      0.00     0.000000
RB            81.500000     73.00    92.000000
RCB           71.000000      0.00    60.000000
RCM            0.000000     85.00    59.000000
RDM            0.000000      0.00     0.000000
RF             0.000000      0.00    86.000000
RM            75.000000      0.00     0.000000
RS             0.000000      0.00    75.000000
RW             0.000000      0.00    80.000000
RWB            0.000000      0.00     0.000000
ST             0.000000      0.00     0.000000
All           65.066667     58.75    66.454545

[28 rows x 651 columns]